/* ESTILOS GENERALES */
body {
    background-color: #D5D5D5;;
}
.img-producto-carrito {
    width: 50px;
}
.cont-card {
    padding: 34px;
    background-color: #FFFAFA;
    border-radius: 10px;
}
.img-card {
    width: 252px;
}
#tienda {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.cont-fav {
    background-color: gray;
}
/* ESTILO DE ENCABEZADO */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #FFFAFA;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
header .h1-header {
    color: #040404;
    font-family: 'Limelight';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 117px;
    letter-spacing: -0.025em;
    margin-right: 3rem;
}
/* ESTILO DE CONTENIDO */
h1 {
    text-transform: uppercase;
    text-align: center;

}
#verCarrito, #favoritos {
    margin: 0 1.5rem;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: #FF872D;
    border: black solid 1px;
    text-transform: uppercase;
    font-weight: 500;
}
.btn-card {
    border: none;
    background: transparent;
}

.add-favoritos, .add-carrito {
    width: 30px;
}