@import "utilities/comprar";
@import "utilities/index";
@import "utilities/header";
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

body {
    background-color: #cbcbcb;
}