body {
    header {
        height: 6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #FFFAFA;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
        .h1-header {
            color: #040404;
            font-family: 'Limelight';
            font-style: normal;
            font-weight: 400;
            font-size: 92px;
            line-height: 117px;
            letter-spacing: -0.025em;
            margin-left: 7rem;
        }
        .botones {
            display: flex;
            align-items: center;
            margin-right: 7rem;
            #verCarrito, #favoritos, #cerrar {
                margin: 0 1rem;
                padding: 0.3rem;
                border-radius: 100px;
                background-color: #FF872D;
                border: none;
                .logo-header {
                    width: 37px;
                    padding: 0.3rem;
                    margin: 0.3rem;
                }
            }
        }
    }
}