body{
    #main-index {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        #blur.blurred {
            position: absolute;
            left: 0;
            background-color: black;
            opacity: 50%;
            height: 100%;
            width: calc(100% - 40rem);
            z-index: 2;
        }
        #miCarrito.cont-carr {
            display: flex;
            background-color: #FFFAFA;
            border-bottom: solid 2px black;
            position: absolute;
            right: 0;
            width: 40rem;
            height: calc(100vh - 125px);
            z-index: 2;
            .carritoVacio {
                font-family: 'Lexend';
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                color: #b0b0b0;
                text-align: center;
            }
            .titulo-carrito {
                font-family: 'Lexend';
                font-style: normal;
                font-weight: 500;
                font-size: 32px;
                text-align: center;
                text-transform: capitalize;
            }
            .div-carr {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin: 0 0.5rem;
                padding: 0.5rem 0;
                border-top: solid 2px black;
                .cont1 {
                    .img-producto-carrito {
                        width: 80px;
                        margin: 0 0.5rem;
                    }
                    .descripcion-carrito, .precio, .cantidad-carrito {
                        font-family: 'Lexend';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 24px;
                        margin: 0;
                        overflow: hidden;
                        height: 5rem;
                    }
                }
                .cont3 {
                    div .precio {
                        font-family: 'Lexend';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 24px;
                    }
                    .cont2 {
                        border: #040404 1px solid;
                        .cantidad-carrito {
                            font-family: 'Lexend';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 24px;
                            margin: 0;
                        }
                        .boton {
                            font-family: 'Lexend';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 26px;
                            border: none;
                            padding: 0;
                            background: none;
                            margin: 0 0.5rem;
                        }
                    }
                    .cont-trash .trash {
                        background: transparent;
                        border: none;
                        padding: 0.5rem;
                        .img-trash-carrito {
                            width: 30px;
                        }
                    }
                }
            }
            .div-carr .cont1, .div-carr .cont2, .div-carr .cont3 {
                display: flex;
                align-items: center;
                margin: 0 0.5rem;
            }
            .cont-btn-comprar {
                display: flex;
                flex-direction: column;
                margin: 1rem 2rem;
                border-top: solid 2px black;
                .contenedor-total {
                    display: flex;
                    justify-content: space-between;
                    margin: 1rem 0;
                    .txt-total, #resultado-total {
                        font-family: 'Lexend';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 30px;
                        text-transform: uppercase;
                    }
                }
                #comprar {
                    border-radius: 10px;
                    padding: 0.5rem 1rem;
                    background-color: #FF872D;
                    border: none;
                    color: #FFFAFA;
                    font-family: 'Lexend';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    text-transform: uppercase;
                    text-align: center;
                }
            }
        }
        #misFavoritos.cont-fav {
            display: flex;
            background-color: #FFFAFA;
            border-bottom: solid 2px black;
            position: absolute;
            right: 0;
            width: 40rem;
            height: calc(100vh - 125px);
            z-index: 2;
            .favoritosVacio {
                font-family: 'Lexend';
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                text-align: center;
            }
            .tituloMisFav {
                font-family: 'Lexend';
                font-style: normal;
                font-weight: 500;
                font-size: 32px;
                text-align: center;
                text-transform: capitalize;
            }
            .div-fav {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin: 0 1rem;
                padding: 0.5rem;
                border-top: solid 2px black;
                .img-producto-favoritos {
                    width: 80px;
                }
                .precio-fav, .descripcion-fav {
                    font-family: 'Lexend';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 26px;
                }
                .cont-trash-fav {
                    .trash {
                        padding: 0.5rem;
                        background: transparent;
                        .img-trash-favoritos {
                            width: 30px;
                        }
                    }
                }
            }
        }
        #section-index {
            width: 95%;
            margin: 2rem 0;
            display: grid;
            grid-template-columns: 18rem auto;
            #filtros {
                margin-top: 0.5rem;
                .cont-filtros {
                    position: fixed;
                    padding: 1.5rem;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    gap: 10px;
                    background: #FFFAFA;
                    border-radius: 10px;
                    width: 14rem;
                    min-height: 22rem;
                    height: calc(100vh - 26rem);
                    box-shadow: rgba(0, 0, 0, 0.3) 1px 5px 10px;    
                    h2.title-filter {
                        font-family: 'Lexend';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 30px;
                        text-transform: capitalize;
                    }
                    #ordenador {
                        border: solid #040404 2px;
                        border-radius: 10px;
                        font-family: 'Lexend';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 25px;
                        text-transform: capitalize;
                        height: 2.5rem;
                    }
                    #quitarFiltros {
                        margin-top: 5rem;
                    }
                    #quitarFiltros:hover {
                        background: #fce5be;
                        border: solid #FF872D 2px;
                        border-radius: 10px;
                    }
                    .btn-filtro {
                        padding: 0.3rem;
                        background: transparent;
                        border: solid #040404 2px;
                        border-radius: 10px;
                        font-family: 'Lexend';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 25px;
                        text-transform: capitalize;
                        height: 2.5rem;
                        .p-quitar-filtros {
                            margin: 0;
                            .quitar-filtros {
                                width: 15px;
                            }
                        }
                    }
                    .select {
                        background: rgb(252, 229, 190);
                        border: solid #FF872D 2px;
                        border-radius: 10px;
                    }
                }
            }
            #tienda {
                display: grid;
                grid-template-columns: auto auto auto;
                .cont-card:hover {
                    transform: scale(1.05);
                }
                .cont-card {
                    margin: 0.5rem;
                    width: 20rem;
                    height: 26rem;
                    background-color: #FFFAFA;
                    border-radius: 10px;
                    .img-card {
                        width: 100%;
                        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
                        border-radius: 10px;
                    }
                    .description {
                        margin-top: 1rem;
                        height: 6.5rem;
                        .card-nombre-producto {
                            font-family: 'Lexend';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 20px;
                            margin: 0rem 2rem;
                        }
                        .card-descripcion-producto {
                            font-family: 'Lexend';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 20px;
                            margin: 0rem 2rem 1rem 2rem;
                        }
                    }
                    #contCard {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin: 0 2rem 1.5rem 2rem;
                        h2.precio {
                            font-family: 'Lexend';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 32px;
                        }
                        div#contAdds {
                            .btn-card {
                                border: none;
                                background: transparent;
                                .add-favoritos, .add-carrito {
                                    width: 30px;
                                }
                            }
                            .btn-card :hover {
                                transform: scale(1.5);
                            }
                        }
                    }
                }
            }
        }
    }
}